@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

html {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 0px;
    height:100%;
}

p {
    margin: 0;
}

body {
    margin: auto;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: #333;
}

h1 {
    line-height: 50px;
    margin: 0%;
}

header {
    height: 6vh;
    background-color: #333;
    border-bottom: 1px solid #222;
}

.inputbox {
    border: 0; 
    padding: 0; 
    text-align: center; 
    width:100%; 
    height: 100%;
    border-radius:1vh;
    font-family: 'Roboto Mono', monospace;
}

.inputbox:focus {
    outline: none;
    box-shadow:0 0 1vh rgba(0,0,0,.5);
}

.hoverable:hover {
    box-shadow:0 0 1vh rgba(0,0,0,.5);
    cursor: pointer;
}

.headertitle {
    font-size: 4vh;
    margin: 0;
    color: whitesmoke;
}

.nooverflow {
    overflow: hidden
}

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #ff5b2e 50%, #ffaf2e 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}

.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}

.bg3 {
    animation-duration:5s;
}

.content {
    background-color:rgba(255,255,255,.6);
    border-radius:1vh;
    box-shadow:0 0 1vh rgba(0,0,0,.25);
    text-align:center;
}

@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
    100% {
        transform:translateX(25%);
    }
}

#desktop {
    display:block
}

#phone {
    display:none
}

#wide {
    display:none
}

@media only screen and (max-aspect-ratio: 1/1) {

    #desktop {
        display:none
    }

    #phone {
        display:block
    }
    
    #wide {
        display:none
    }

}

@media only screen and (min-aspect-ratio: 2/1) {

    #desktop {
        display:none
    }

    #phone {
        display:none
    } 

    #wide {
        display:block
    }

}

.desktopbox {
    width:30vw; 
    height: 40vw; 
    position:absolute; 
    top:50%; 
    -ms-transform: translateY(-47%); 
    transform: translateY(-47%); 
}

.phonebox {
    width:65vw; 
    height: 87vw; 
    position:absolute; 
    top:50%; 
    -ms-transform: translateY(-47%); 
    transform: translateY(-47%); 
}

.widebox {
    width:60vh; 
    height: 80vh; 
    position:absolute; 
    top:50%; 
    -ms-transform: translateY(-47%); 
    transform: translateY(-47%); 
}

.desktopmessage {
    margin-left:1vh;
    margin-top:1vh;
    width:15.5vw; 
    height: 7.25vw; 
    position:absolute;
    display: flex; 
    justify-content: center; 
    align-items: center;
    opacity:0;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.widemessage {
    margin-left:1vh;
    margin-top:1vh;
    width:31vh; 
    height: 14vh; 
    position:absolute;
    display: flex; 
    justify-content: center; 
    align-items: center;
    opacity:0;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}