@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

html {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 0px;
    height:100%;
}

p {
    margin: 0;
}

body {
    margin: auto;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: #333;
}

h1 {
    line-height: 50px;
    margin: 0%;
}

header {
    height: 6vh;
    background-color: #333;
    border-bottom: 1px solid #222;
}

.headertitle {
    font-size: 4vh;
    margin: 0;
    color: whitesmoke;
}

.nooverflow {
    overflow: hidden
}

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    /*background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);*/
    background-image: linear-gradient(-60deg, #ff5b2e 50%, #ffaf2e 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}

.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}

.bg3 {
    animation-duration:5s;
}

.content {
    background-color:rgba(255,255,255,.6);
    border-radius:1vh;
    box-shadow:0 0 1vh rgba(0,0,0,.25);
    text-align:center;
}

@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
    100% {
        transform:translateX(25%);
    }
}

#desktop {
    display:block
}

#phone {
    display:none
}

#wide {
    display:none
}

@media only screen and (max-aspect-ratio: 1/1) {

    #desktop {
        display:none
    }

    #phone {
        display:block
    }
    
    #wide {
        display:none
    }

}

@media only screen and (min-aspect-ratio: 2/1) {

    #desktop {
        display:none
    }

    #phone {
        display:none
    } 

    #wide {
        display:block
    }
    
}

.desktopbox {
    width:30vw; 
    height: 40vw; 
    position:absolute; 
    top:50%; -ms-transform: 
    translateY(-47%); 
    transform: translateY(-47%); 
}

.phonebox {
    width:30vw; 
    height: 40vw; 
    position:absolute; 
    top:50%; -ms-transform: 
    translateY(-47%); 
    transform: translateY(-47%); 
}

.widebox {
    width:60vh; 
    height: 80vh; 
    position:absolute; 
    top:50%; -ms-transform: 
    translateY(-47%); 
    transform: translateY(-47%); 
}
