<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="hidden-scroll">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <form name="room" action="#" onsubmit="joinRoom();" method="GET">
    Join Room: <input type="text" name="number">
    <input type="submit" value="Submit">
  </form>

  <form name="room" action="#" onsubmit="createRoom();" method="GET">
    Create Room: <input type="submit" value="Submit">
  </form>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

  <script>

    function joinRoom() {
      // Get the room number from the form.
      let x = document.forms["room"]
      roomNumber = x["number"].value.toUpperCase();

      // Check whether the room is real.
      fetch("/isRoomNumber",{
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({number: roomNumber})
      }).then((res) => {
        if (res.ok) {
          return res.json();
        } else {
          throw new Error ('Fetch request failed.');
        }
      }).then((json) => {
        // If the room number exists, redirect to the room.
        if (json.exists == true) {
          window.location.href = "/" + roomNumber;
        } else {
          window.history.pushState({}, document.title, window.location.pathname);
        }
      });
    }

    function createRoom() {
      fetch("/createRoom",{
        method: "GET",
        headers: {"Content-Type": "application/json"}
      }).then((res) => {
        if (res.ok) {
          return res.json();
        } else {
          throw new Error ('Fetch request failed.');
        }
      }).then((json) => {
        console.log(json)
        window.location.href = "/" + json.room;
      });
    }
    
  </script>

</body>
</html>