<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tanks Online</title>
  <link rel="stylesheet" type="text/css" href="css/main.css" />
  <meta name="viewport" content="width=device-width">
</head>
<body class="hidden-scroll nooverflow">

  <header class="headertitle">
    <p style="padding-top: 0.4vh; padding-left: 1vh;">Tanks Online</p> 
  </header>

  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>

  <!--
  <div id="violet" style="width:100px; height:100px; background-color: blueviolet;"></div>
  <div id="red" style="width:100px; height:100px; background-color: red;"></div>
  <div id="green" style="width:100px; height:100px; background-color: chartreuse"></div>
  -->
  <div id="desktop">

    <!-- Landing Page Button Box -->
    <div class="desktopbox content" style="margin-left: 17.5%;">

      <!-- Create Room Button -->
      <div id="desktop_create_room_button" class="content hoverable" style="margin-top: 10%; margin-left:10%; width:80%; height:12.5%; background-color: whitesmoke;">
          <p style="font-size:2.5vw; -ms-transform: translateY(0.75vw); transform: translateY(0.75vw);">Create a Room</p>
      </div>

      <!-- Join Room Button and Text Bar -->
      <div style="margin-top: 10%; margin-left:10%; width:80%; height:12.5%;">

        <!-- Text Bar -->
        <div class="content hoverable" style="float:left; width:60%; height:100%; background-color: whitesmoke;">
          <input id="desktop_join_room_input" maxlength="4" spellcheck="false" class="inputbox" style="font-size:2.5vw; background-color: whitesmoke; text-transform: uppercase;"></input>
        </div>

        <!-- Join Room Button -->
        <div id="desktop_join_room_button" class="content hoverable" style="margin-left: 10%; float:left; width:30%; height:100%; background-color: whitesmoke;">
          <p style="margin-top:0.75vw ;font-size:2.5vw">Join</p>
        </div>

      </div>

    </div>
    
    <!-- Tank Customisation Box -->
    <div class="desktopbox content" style="margin-left: 52.5%;">

    </div>

  </div>

  <div id="phone">

    <!-- Landing Page Button Box -->
    <div class="phonebox content" style="margin-left: 17.5%;">
      
    </div>

  </div>

  <div id="wide">

    <!-- Landing Page Button Box -->
    <div class="widebox content" style="margin-left: 52.5%; -ms-transform: translate(-70vh,-47%); transform: translate(-70vh,-47%);">
      
      <!-- Create Room Button -->
      <div id="wide_create_room_button" class="content hoverable" style="margin-top: 10%; margin-left:10%; width:80%; height:12.5%; background-color: whitesmoke;">
        <p style="font-size:5vh; -ms-transform: translateY(1.5vh); transform: translateY(1.5vh);">Create a Room</p>
      </div>

      <!-- Join Room Button and Text Bar -->
      <div style="margin-top: 10%; margin-left:10%; width:80%; height:12.5%;">

        <!-- Text Bar -->
        <div class="content hoverable" style="float:left; width:60%; height:100%; background-color: whitesmoke;">
          <input id="wide_join_room_input" maxlength="4" spellcheck="false" class="inputbox" style="font-size:5vh; background-color: whitesmoke; text-transform: uppercase;"></input>
        </div>

        <!-- Join Room Button -->
        <div id="wide_join_room_button" class="content hoverable" style="margin-left: 10%; float:left; width:30%; height:100%; background-color: whitesmoke;">
          <p style="margin-top:1.5vh ;font-size:5vh">Join</p>
        </div>

      </div>

    </div>
    
    <!-- Tank Customisation Box -->
    <div class="widebox content" style="margin-left: 52.5%;">
      
    </div>

  </div>
  
  <footer></footer>

  <script>

    const ip = "<%- ip %>";

    var id = "";
    var isConnected = false;
    var inRoom = false;

    var socket = new WebSocket("ws://192.168.1.5:8999");
    // var socket = new WebSocket("ws://" + ip  +":8999");

    socket.onopen = function (event) {
      isConnected = true;
      getId();
      checkInRoom();
    };

    socket.onclose = function (event) {
      isConnected = false;
      inRoom = false;
    }

    socket.onmessage = function (event) {
      
      message = event.data;
      message = JSON.parse(message);

      if ("type" in message) {

        if (message.type == 'game_data') {
          console.log(message.data);
        } 
        
        else if (message.type == 'in_room') {
          inRoom = message.data;
        } 
        
        else if (message.type == 'id') {
          id = message.data;
        }

        else if (message.type == 'joined_room') {
          console.log(message.data);
          console.log(message.message);
        }

      }

    }

    // Will create a room and join it if you are not in a room.
    // If in a room, this will do nothing.
    function createRoom() {
      if (isConnected && !inRoom) {
        socket.send(JSON.stringify({command:"create",args:[]}));
        checkInRoom();
      }
    }

    // Joins the room with the given number.
    function joinRoom(room) {
      if (isConnected) {
        socket.send(JSON.stringify({command:"join",args:[room]}));
        checkInRoom();
      }
    }

    // Sends input command to the room.
    function input(command) {
      if (isConnected) {
        socket.send(JSON.stringify({command:"input",args:[command]}));
      }
    }

    // Will update the inRoom variable.
    function checkInRoom() {
      if (isConnected) {
        socket.send(JSON.stringify({command:"in_room",args:[]}));
      }
    }

    // Will request game data from the server.
    function requestGameData() {
      if (isConnected) {
        socket.send(JSON.stringify({command:"get_game_data",args:[]}));
      }
    }

    // Will request the player id from the server.
    function getId() {
      if (isConnected) {
        socket.send(JSON.stringify({command:"get_id",args:[]}));
      }
    }
    
  </script>

  <script>

    // Join Room Box
    desktopJoinRoomInput = document.getElementById('desktop_join_room_input');
    wideJoinRoomInput = document.getElementById('wide_join_room_input');

    // Synchronise changes between the two boxes. If one changes, change the other one.
    desktopJoinRoomInput.onkeyup = function(e) {
      // If the user hit enter, try and join the room.
      if (e.key === "Enter") {
        roomNumber = desktopJoinRoomInput.input;
        joinRoom(roomNumber);
      }
      else {
        newValue = desktopJoinRoomInput.value
        if (newValue.length > 4) {newValue = newValue.substring(0,4);}
        wideJoinRoomInput.value = newValue;
      }
    }

    // Synchronise changes between the two boxes. If one changes, change the other one.
    wideJoinRoomInput.onkeyup = function(e) {
      // If the user hit enter, try and join the room.
      if (e.key === "Enter") {
        roomNumber = wideJoinRoomInput.value;
        joinRoom(roomNumber);
      }
      else {
        newValue = wideJoinRoomInput.value
        if (newValue.length > 4) {newValue = newValue.substring(0,4);}
        desktopJoinRoomInput.value = newValue;
      }
    }

    // Join Room Buttons
    desktopJoinRoomButton = document.getElementById('desktop_join_room_button');
    wideJoinRoomButton = document.getElementById('wide_join_room_button');

    // If the join button is pressed, join the room.
    desktopJoinRoomButton.onclick = function(e) {
      roomNumber = desktopJoinRoomInput.value;
      joinRoom(roomNumber);
    }

    // If the join button is pressed, join the room.
    wideJoinRoomButton.onclick = function(e) {
      roomNumber = wideJoinRoomInput.value;
      joinRoom(roomNumber);
    }

    // Create Room Buttons
    desktopCreateRoomButton = document.getElementById('desktop_create_room_button');
    wideCreateRoomButton = document.getElementById('wide_create_room_button');

    // When clicking the button join the room.
    desktopCreateRoomButton.onclick = createRoom
    wideCreateRoomButton.onclick = createRoom

  </script>

  <!--
  <script>

    violet = document.getElementById("violet");
    red = document.getElementById("red");
    green = document.getElementById("green");

    violet.addEventListener('click', () => {
      createRoom();
    });

    red.addEventListener('click', () => {
      roomNumber = prompt("Enter a room number:");
      joinRoom(roomNumber);
    });

    green.addEventListener('click', () => {
      createRoom();
    });

    document.addEventListener('keydown', () => {
      console.log('id: ' + id);
      console.log('isConnected: ' + isConnected);
      console.log('inRoom: ' + inRoom);
    });

  </script>
  -->

</body>
</html>